div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline What is it?
        div(class="thirteen columns omega")
            div.strongDetail Apollo
            div.description 
                p
                    | Apollo is a search engine for requirements and code. 
                    | The requirements are pulled from TFS and from Pivotal and indexed for searching. 
                    | The code is pulled from the build servers of each project.
                p
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline How come I don’t see all requirements?
        div(class="thirteen columns omega")
            div.strongDetail Spare me the details, just get me started.
            div.description
                p
                    |For now only a few TFS and Pivotal projects are being crawled for testing purposes. After a trial period, this may be expanded.
                p
                
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline How come I don’t see all the code?
        div(class="thirteen columns omega")
            div.strongDetail Spare me the details, just get me started.
            div.description
                p
                    |For now only projects that have been set up by their tech lead are being crawled. If you want your code in the index, talk to your projects’s tech lead.
                p
                
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Show me the code.
        div(class="thirteen columns omega")
            div.strongDetail Github Repository
            div.description
                p
                    | You can see the code for the crawlers and the website @ 
                    | <a href="https://github.com/EAAppFoundry/Apollo">Apollo Github Repository</a> 
                p




