div.row
    div(class="sixteen columns clearfix") 
        div(class="three columns alpha") 
            div.leftHeadline Overview
        div(class="thirteen columns omega")
            div.rightText
                a(href="presentation/presentation/deck.html") Check out this presentation for the 5 minute overview

div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Projects
        div(class="thirteen columns omega")
            div.strongDetail Loggly
            div.description 
                p
                    | Provides a mechnism for capturing and viewing applicaiton log data in the cloud
            div.strongDetail Apollo
            div.description
                p
                    | A code and requirements search engine.  Looking to see how other developers use
                    | StringBuilder? Looking for requrements related to digital assets? This
                    | is your place.
            div.strongDetail Infinity
            div.description
                p
                    | Have you ever wanted to know what is airing to TNT this evening? How about if 
                    | Blue Streak is currently available on TNT on-demand? Well, Infinity is a
                    | comprehensive view of the linear and non-linear schedule for Turner and our
                    | competitors.

div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Technology
        div(class="thirteen columns omega")
            div.strongDetail Node.js
            div.description
                p
                    | A primary goal of the Hackathon was to put node.js through it's paces and see
                    | if it is a viable technology for web development in EA.  In doing this, we wrote
                    | code on three different platforms (Macs, PCs, and Linux).
                p
                    | Both Infinity and Loggly were built using node.js and leveraged the jade view engine,
                    | leveraging MongoDB as it's database.
                    | Apollo is a ASP.Net MVC3 site that sits on top of the SOLR search engine.

div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline The Team
        div(class="thirteen columns omega")
            div.strongDetail The Hackathon Team
            | <ul id="filters" class="option-set">
            |   <li><a href="#" data-filter="*">show all</a></li>
            |   <li><a href="#" data-filter=".infinity" style="margin-top: -45px">Infinity</a></li>
            |   <li><a href="#" data-filter=".loggly">Loggly</a></li>
            |   <li><a href="#" data-filter=".apollo">Apollo</a></li>
            |</ul>

            div(id="container")
                div(class="element alkali loggly")
                    h3.symbol Db
                    h2.name Don Browning
                    p.weight Loggly
                div(class="element alkaline-earth infinity")
                    h3.symbol Ms
                    h2.name Mike Smith
                    p.weight Infinity
                div(class="element other nonmetal apollo")
                    h3.symbol Ss
                    h2.name Sri Srinivassan
                    p.weight Apollo
                div(class="element metalloid loggly")
                    h3.symbol My
                    h2.name Mickey Yawn
                    p.weight Loggly
                div(class="element post-transition infinity")
                    h3.symbol Kb
                    h2.name Karlton Berry
                    p.weight Infinity
                div(class="element transition apollo")
                    h3.symbol Al
                    h2.name Allen Lyons
                    p.weight Apollo
                div(class="element actinoid infinity")
                    h3.symbol Tw
                    h2.name Todd Winfrey
                    p.weight Infinity
                div(class="element lanthanoid infinity")
                    h3.symbol Kb
                    h2.name Kevin Brill
                    p.weight Infinity

script
     $(function(){
       var $container = $('#container');

       $container.isotope({
           itemSelector: '.element'
       });

       $filterLinks = $('#filters').find('a');

       $filterLinks.click(function(){
          var $this = $(this);
          var selected = $(this).attr('data-filter');
          
          $container.isotope({filter: selected});
          return false;
           
       });
     });

script
    $(document).ready(function(){
        var teams = ['*', '.loggly', '.apollo', '.infinity'];
        var $count = 0;

        setInterval(function(){
            var $container = $('#container');

            $container.isotope({
               itemSelector: '.element'
            });

            $filterLinks = $('#filters').find('a');
            
            $container.isotope({filter: teams[$count]});

            if ($count === 3)
                $count = 0;
            else
                $count++;  
        }, 2000);
    });







                
