div.row
    div(class="sixteen columns clearfix") 
        div(class="three columns alpha") 
            div.leftHeadline Overview
        div(class="thirteen columns omega")
            div.rightText
                a(href="presentation/presentation/deck.html") Looking for the 'Executive Summary'. Check here.

div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline The Team
        div(class="thirteen columns omega")
            div.strongDetail The Hackathon Team
                ul(class="filters", id="all")
                    li(class="teamName", id=".loggly") Loggly
                    li(class="teamName", id=".apollo") Apollo
                    li(class="teamName", id=".infinity") Infinity
            

            div(id="container")
                div(class="element alkali loggly")
                    h3.symbol Db
                    h2.name Don Browning
                    p.weight Loggly
                div(class="element alkaline-earth infinity")
                    h3.symbol Ms
                    h2.name Mike Smith
                    p.weight Infinity
                div(class="element other nonmetal apollo")
                    h3.symbol Ss
                    h2.name Sri Srinivassan
                    p.weight Apollo
                div(class="element metalloid loggly")
                    h3.symbol My
                    h2.name Mickey Yawn
                    p.weight Loggly
                div(class="element post-transition infinity")
                    h3.symbol Kb
                    h2.name Karlton Berry
                    p.weight Infinity
                div(class="element transition apollo")
                    h3.symbol Al
                    h2.name Allen Lyons
                    p.weight Apollo
                div(class="element actinoid infinity")
                    h3.symbol Tw
                    h2.name Todd Winfrey
                    p.weight Infinity
                div(class="element lanthanoid infinity")
                    h3.symbol Kb
                    h2.name Kevin Brill
                    p.weight Infinity

div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Projects
        div(class="thirteen columns omega")
            div.strongDetail Loggly
            div.description 
                p
                    | If you hate requesting access to production servers just so you can
                    | chase down your logfiles, then loggly (and logging in the cloud) is for you!
            div.strongDetail Apollo
            div.description
                p
                    | Curious as to  how other developers are structuring linq queries?
                    | Looking for requrements related to digital assets? Then Apollo
                    | is your place.
            div.strongDetail Infinity
            div.description
                p
                    | Ever want to know what is TNT is ariring tonight? How about if 
                    | we're currently making Blue Streak available on-demand? Well, Infinity is a
                    | comprehensive view of the linear and non-linear schedule for Turner and our
                    | competitors.

div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Technology
        div(class="thirteen columns omega")
            div.strongDetail Node.js
            div.description
                p
                    | Node.js is a platform that allows devs to build web applications (both client and server) in
                    | javascript. Used on Loggly and Infinity.
            div.strongDetail MongoDB
            div.description
                p
                    | MongoDB is a high-performance, open-source, document-oriented database. Used on Infinity.
            div.strongDetail Solr
            div.description
                p
                    | Solr is a enterprise search platform that can crawl and index a wide variety of documents. Used on Apollo.


script
     $(function(){
       var $container = $('#container');

       $container.isotope({
           itemSelector: '.element',
           resizesContainer: false

       });

       $filterLinks = $('#filters').find('a');

       $filterLinks.click(function(){
          var $this = $(this);
          var selected = $(this).attr('data-filter');
          
          $container.isotope({filter: selected});
          return false;
           
       });
     });

script
    $(document).ready(function(){
        var teams = ['.loggly', '.apollo', '.infinity', '*'];
        var $count = 0;

        setInterval(function(){
            var $container = $('#container');

            $container.isotope({
               itemSelector: '.element'
            });

            var l = $('#loggly').css('font-weight', 'bold');
            var tns = $('#all').find('li');
            
            tns.each(function(i){
               if(this.id === teams[$count]) {
                   this.style.cssText = 'font-weight: bold;'
               } 
               else {
                   this.style.cssText = 'font-weight: normal;'
               }
            });
            
            $container.isotope({filter: teams[$count]});

            if ($count === 3)
                $count = 0;
            else
                $count++;  
        }, 2000);
    });







                
