div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline What is it?
        div(class="thirteen columns omega")
            div.strongDetail Infinity
            div.description 
                p
                    | Infinity attempts to create an appealing schedule of all Turner and competitive networks using a new set of technologies.  These technologies include MongoDB, Node.js, jQuery, and Knockout.js.</br>
                    | Let's take a look at the pieces:
                    ol
                        li Schedule Harvester - This .Net module populates a MongoDB collection with the linear and digital schedules from Scarlett for the last 30 days.  Alongside the schedule, the Harvester also captures a collection of current Networks.
                        li Schedule Node Server - As a backend host, Infinity uses Node.js to serve as an interface to the data repository.  By utilizing node's Express framework, Inifinity hosts a REST API that routes url friendly requests to its respective data.  With help from Mongoose, server requests convert to database requests for MongoDB to execute.
                        li Schedule Site - Infinity exposes its data using Html, jQuery and Knockout.js, while leveraging the <a href="http://dhtmlx.com/docs/products/dhtmlxScheduler/index.shtml">dhtmlxscheduler</a> ajax scheduler and the jqgrid. These latter controls demonstrate the flexibility of Infinity's architecture, allowing the reuse of its data without the rework of its structure.  
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Check it out
        div(class="thirteen columns omega")
            div.strongDetail All the schedule goodness without all the fat.
            div.description
                p
                    |You can check out the site here: <a href="http://199.192.240.192" target="_blank">Infinity Web Site</a>
                    
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Show me the code.
        div(class="thirteen columns omega")
            div.strongDetail 
            div.description
                p
                    |<a href="https://github.com/EAAppFoundry/Infinity">Main Github Repo</a> 
            div.strongDetail Schedule Harvester
            div.description
                P
                    |<a href="https://github.com/EAAppFoundry/Infinity/tree/master/dotnet">Github code location</a>
            div.strongDetail Node Site
            div.description
                P
                    |<a href="https://github.com/EAAppFoundry/Infinity/tree/master/node">Github code location</a>
