div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline What is it?
        div(class="thirteen columns omega")
            div.strongDetail Loggly
            div.description 
                p
                    | <a href="http://loggly.com">Loggly</a> is a cloud service for capturing application logs.
                    | While it has a great api and backend infrastructure for capturing logs, the website
                    | and user experiece for viewing logs left a lot to be desired.  In this project, we 
                    | attempted to improve on that experience and create an experience that is more familiar 
                    | for EA developers.
                p
                    | As part of this effort we <a href="http://ealoggly.nodejitsu.com" target="_blank">created a website</a> for 
                    | viewing logfiles, as well as logging appenders for node.js and .Net
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Let's go!
        div(class="thirteen columns omega")
            div.strongDetail Spare me the details, just get me started.
            div.description
                p
                    |Gotcha. You're ready to get going.  In that case:
                    ol
                        li Go to <a href="http://eaturner.loggly.com">eaturner.loggly.com</a> and log in with [email Don for credentials]
                        li Create a new input for your application
                        li Make note of your input key.
                p
                    |If you are logging from a .Net app, grab these assemblies and drop them in
                    |your lib folder:
                    |<a href="https://github.com/downloads/EAAppFoundry/loggly-csharp/Loggly.zip")>log-client.zip</a>
                    |Instructions for how to use the log-client can be found 
                    | <a href="https://github.com/EAAppFoundry/loggly-csharp">here</a>.
                p
                    |if you are logging from a node.js app, grab the ealogger.js client follow the instructions
                    |<a href="https://github.com/EAAppFoundry/EALoggly-Node">here</a>.
                p
                    |To view your log data, <a href="http://ealoggly.nodejitsu.com" target="_blank">crank up the log viewer</a>
                    | and select your input on the left.
div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline Show me the code.
        div(class="thirteen columns omega")
            div.strongDetail C# Log Client
            div.description
                p
                    | <a href="https://github.com/EAAppFoundry/loggly-csharp">Github Repo</a> - Forked <a href="https://github.com/karlseguin">Karl Seguin's</a> C# .Net driver
                    | and added a Log/LogAsync method that provide the structure we're used to for 
                    | log messages (level, machine, log message)
            div.strongDetail Node.js Log Client
            div.description
                p
                    |<a href="https://github.com/EAAppFoundry/EALoggly-Node">Github Repo</a> - 
                    |We built a wrapper on top of nodejitsu's Loggly driver.  Similar to the C# driver, it
                    |makes it easer to log with the (level, machine, log message) structure.
            div.strongDetail Log Viewer Website
            div.description
                p
                    | <a href="https://bitbucket.org/EATurner/loggly/src">Bitbucket Repo</a> - Once you spend 
                    | a few minutes with the loggly.com website you will quickly find the experience challenging
                    | Rather than slashing and burning your way through the forest, you can now use our site that not only offers a 
                    | more friendly view of your log data, but also leverages the (level, machine, and
                    | log message) data provided by our C# and node.js log clients.




