div.row
    div(class="sixteen columns clearfix")
        div(class="three columns alpha")
            div.leftHeadline What is it?
        div(class="thirteen columns omega")
            div.strongDetail Loggly
            div.description 
                p
                    | <a href="http://loggly.com">Loggly</a> is a cloud service for capturing application logs.
                    | While it has a great api and backend infrastructure for capturing logs, the website
                    | and user experiece for viewing logs left a lot to be desired.  In this project, we 
                    | attempted to improve on that experience and create an experience that is more familiar 
                    | for EA developers.
                p
                    | As part of this effort we <a href="http://ealoggly.nodejitsu.com">created a website</a> for 
                    | viewing logfiles, as well as logging appenders for node.js and .Net
