body {
	background-image:url('../images/white_carbon.png');
}

.container .buffer {
    margin-top: 25px;
}
.container .awesomeText{
	font-size: 38px;
	padding: 18px 40px;
	text-align: right;
}
.container .menuText {
	font-size: 16px;
}
.container h2 {
	font-size: 24px;
}

.container .menuSurround {
	height: 24px;
	width: 960px;
	background-color: 3ddc39;
}

.container .whiteContainer {
	background-color:white;
	position:absolute;
	top:87px;
	width: 960px;
	height: 800px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container .leftHeadline{
    font-size: 20px;
    font-weight: bold;
}

.container .rightText {
    font-size: 14px;
}

.container .br .spacer {
    margin-top: 100px;
}

.container .strongDetail {
    font-size: 15; 
    font-weight:bold
}