!!! 5
html.no-js(lang='en')
    head
        title Hackathon!

        meta(name='viewport', content='width=1024, user-scalable=no')

        link(rel='stylesheet', href='../core/deck.core.css')
        link(rel='stylesheet', href='../extensions/goto/deck.goto.css')
        link(rel='stylesheet', href='../extensions/menu/deck.menu.css')
        link(rel='stylesheet', href='../extensions/navigation/deck.navigation.css')
        link(rel='stylesheet', href='../extensions/status/deck.status.css')
        link(rel='stylesheet', href='../extensions/hash/deck.hash.css')

        link(rel='stylesheet', id='style-theme-link', href='../themes/style/web-2.0.css')
        link(rel='stylesheet', id='transition-theme-link', href='../themes/transition/horizontal-slide.css')
        
        link(rel='stylesheet', href='deck.css')

        script(src='../modernizr.custom.js')

    body(class="introduction")
        article.deck-container
            section.slide#title-slide
                div.hacklink
                    a(href="http://eahackathon.nodejitsu.com/") Back to Hackathon! site
                h2 Hackathon!            
                img(src="http://www.newmedici.com/wp-content/uploads/2011/10/hackathon.jpg")
                


            section.slide#breakdown
                div.hacklink
                    a(href="http://eahackathon.nodejitsu.com/") Back to Hackathon! site
                h2 Breakdown
                ul.center-list
                    li.emph 8 Developers
                    li.emph 5 Days
                    li.emph 3 Projects

            section.slide#team
                div.hacklink
                    a(href="http://eahackathon.nodejitsu.com/") Back to Hackathon! site
                h2 Team
                ul.left-list
                    li.smtext Mickey Yawn
                    li.smtext Mike Smith
                    li.smtext Karlton Berry
                    li.smtext Allen Lyons
                ul.right-list
                    li.smtext Sri Srinivasan
                    li.smtext Don Browning
                    li.smtext Kevin Brill
                    li.smtext Todd Winfrey
            section.slide#goals
                h2 Goals
                ul
                    li
                        h3 Learn something new
                        p Get out of our comfort zone and use new tools and technologies
                    li
                        h3 Recharge our betteries
                        p Break the monotony of the day in/day out of current projects
                    li
                        h3 Build some apps
                        p Go from conception -> design -> build -> deploy in 1 week

            section.slide#whatwebuilt
                h2 What Did We Build?
                ul
                    li
                        h3 Loggly
                        p A way to capture and view logfiles in the cloud
                    li
                        h3 Apollo
                        p A search engine for requirements and code
                    li
                        h3 Infinity
                        p A comprehensive view of linear and non-linear schedules for both Turner and Non-Turner networks. 
            section.slide#whatdidweuse
                h2 What Technology Did We Use
                ul
                    li
                        h3 node.js
                        p node.js is a new.....
                    li
                        h3 MongoDB
                        p mongodb is a no sql database....
                    li
                        h3 Knockout.js
                        p knockout.js is a.....
                    li
                        h3 Trello
                        p Trello is a....
            a(href='#', class="deck-prev-link", title="Previous")&#8592;
            a(href='#', class="deck-next-link", title="Next")&#8594;
        

        

        
        
        script(src='../jquery-1.7.min.js')

        script(src='../core/deck.core.js')
        script(src='../extensions/hash/deck.hash.js')
        script(src='../extensions/menu/deck.menu.js')
        script(src='../extensions/goto/deck.goto.js')
        script(src='../extensions/status/deck.status.js')
        script(src='../extensions/navigation/deck.navigation.js')

        script(src='introduction.js')
